apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: saegim
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/part-of: saegim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
